.card {
  border: 2px solid rgb(191, 186, 186);
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  margin: 0.75rem;
  padding: 0.75rem;
  width: 50%;
}

.user__container {
  width: 100%;
  line-height: 1.5rem;
  padding: 0.75rem;
  font-weight: bolder;
  font-size: 1rem;
}

.container__input {
  width: inherit;
  line-height: inherit;
}

.user__button_btn {
  margin-left: 0.75rem;
  color: white;
  background: rgb(97, 39, 97);
  padding: 1rem;
  border-radius: 1rem;
}

.user_list {
  border: 1px solid white;
  padding: inherit;
  display: block;
}
